/*CONTAINER 1*/ 
/* Q:How to align the containers in center of the page?
set width to 100%, height to 100vh. You can also set body if you want 
to width 100%, min-height 100vh, flex, center, center, and wrap*/

.container1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    min-height: 100vh;
    width: 1152px;
    width: 100%;
    margin: 20px;
    background-color: #6A040F;
    
}

.container-yellow {
    width: 468px;
    height: 160px;
    margin: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    background-color: #F48C06;
    display: flex;
}

.container1--content1 {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.container1--content2 {
    flex-direction: row;
    justify-content: center;
    align-items: stretch;    
}

.container1--content3 {
    align-items: center;
    justify-content: flex-end;
}

.container1--content4 {
    justify-content: space-between; 
}

.container1--content5 {
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

.container1--content6 { 
    justify-content: center;
    align-items: center;
}

.box {
    width: 78px;
    height: 78px;
    margin: 20px;
    background-color: #9D0208;
    border-radius: 4px;
}

.box__down {
    width: 78px;
    height: 78px;
    margin: 20px;
    align-self: flex-end;
}

 .box__stretch {
    width: 78px;
    min-height: 78px;
    margin: 20px;
    background-color: #9D0208;
    border-radius: 4px;
    /*Cannot figure out stretch */ 
 }

 .box__horizontal {
    flex-grow: 1;
 }

 .box__text {
    color: white;
    display: flex;
    justify-content: center;
 }
 .box5 {
     height: 90px;
 }

 /*CONTAINER 2*/ /* Q: How to make a wider left margine to the boxes?
 put everything in a larger container nested just under .container2. 
 Then give container2 flex, center, center, wrap and give container2.5 
 (which is located between container 2 and the rest of the content) 
 flex, flex-start, flex-start, wrap. This will center the middle container 
 to the center of the screen and then align the content inside that container 
 to the left side which creates the illusion of a large margin*/

 .container2 {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-content: center;
    height: 700px;
    height: 100vh;
    width: 1152px;
    width: 100%;
    margin: 20px;
    background-color: #FAA307;
 }

 .sub-container2 {
     display: flex;
     flex-wrap: wrap;
     justify-content: flex-start;
     align-content: center;
     max-width: 1000px;
 }
 .container-black {
    display: flex;
    width: 273px;
    height: 220px;
    margin: 20px;
    background: #03071E;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
 }

 .container-brown {
    display: flex;
    width: 273px;
    height: 220px;
    margin: 20px; 
    background: #6A040F;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
 }

  .circle {
    width: 50px;
    height: 50px;
    margin: 20px;
    background: #748CAB;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    display: flex;
 }
 
 .container2--item1 {
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: flex-start;
 }

 .container2--item2 {
    flex-flow: wrap-reverse;
    justify-content: flex-end;
    align-items: flex-end;  
 }

 .container2--item3 {
     flex-flow: row wrap;
     align-content: space-around;
 }

 .container2--item4 {
     flex-flow: row wrap;
     align-content: space-between;
 }

 .container2--item5 {
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
 }

