/*CONTAINER 1*/ /* Q:How to align the containers in center of the page?*/

.container1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 1152px;
    margin: 20px;
    background-color: #6A040F;
    
}

.container-yellow {
    width: 468px;
    height: 160px;
    margin: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    background-color: #F48C06;
    display: flex;
}

.container1--content1 {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.container1--content2 {
    flex-direction: row;
    justify-content: center;
    min-height: 78px;
    align-items: stretch; /* Stretch not working adjusted height in .bok__stretch */    
}

.container1--content3 {
    align-items: center;
    justify-content: flex-end;
}

.container1--content4 {
    justify-content: space-between;
}

.container1--content5 {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: baseline;
}

.container1--content6 { /*This container (orange)is not in line, why?*/
    justify-content: center;
    align-items: center;

}

.box {
    width: 78px;
    height: 78px;
    margin: 20px;
    background-color: #9D0208;
    border-radius: 4px;
}

.box__down {
    width: 78px;
    height: 78px;
    margin: 20px;
    align-self: flex-end;
}

 .box__stretch {
    min-height: 120px;
    margin: 20px;
    align-items: stretch;
    /*Cannot figure out stretch adjusting height instead*/ 
 }

 .box__horizontal {
    width: 156px;
    height: 78px;
    margin: 20px;
 }

 .box__text {
    color: white;
    display: flex;
    align-items: baseline;
    justify-content: center;
     /* Q: How to align all box-text to same baseline? */
 }

 /*CONTAINER 2*/ /* Q: How to make a wider left margine to the boxes?*/

 .container2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: center;
    height: 700px;
    width: 1152px;
    margin: 20px;
    background-color: #FAA307;
 }

 .container-black {
    display: flex;
    width: 273px;
    height: 220px;
    margin: 20px;
    background: #03071E;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
 }

 .container-brown {
    display: flex;
    width: 273px;
    height: 220px;
    margin: 20px; 
    background: #6A040F;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
 }

  .circle {
    width: 50px;
    height: 50px;
    margin: 20px;
    background: #748CAB;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    display: flex;
 }
 
 .container2--item1 {
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: flex-start;
 }

 .container2--item2 {
    flex-flow: wrap-reverse;
    justify-content: flex-end;
    align-items: flex-end;  
 }

 /* Q: How do I adjust space between rows?*/
 .container2--item3 {
     flex-flow: row wrap;
     align-items: space-between;
 }

 .container2--item4 {
     flex-flow: row wrap;
     align-items: space-evenly;
 }

 .container2--item5 {
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
 }

